*{
margin:0;
pading:0;
}
h1{
font-family:sans-serif;
color:#fcf6ef;
}
header{
color:#fcf6ef;
height:60px;
display:flex;
box-shadow: 0 0 10px #808080;
background-color:#00be65;
align-items:center;
padding:10px 15px;
justify-content:space-between;
}
#wertp{
display:flex;
justify-content:space-between;
width:400px;
align-items:center;
}
#wer{
width:400px;
display:flex;
justify-content:space-between;


}
#tp{
display:flex;
border-left:4px solid #fdbf50;
flex-direction:column;
text-align:right;
align-items: center;
align-content: space-between;
padding:5px;
}
#tel{
margin: 15px 0 0 0;


}

a{
text-decoration:none;
color:#fcf6ef;
}
.sm{
border:0;
margin:0;
width:50;
height:50;
}
.photo{
width:416;
height:312;
}
#body{
border-radius:15px;
box-shadow: 0 0 10px #000;
font-family:sans-serif;
background-color:#fdbf50;
color:#517761;
padding:30px;

}
body{
background:url(img/bg.jpg);
background-repeat:norepeat;
background-size:100% 100%;
}

#pre{
width:65%;
border-radius: 10px;
background-color:#f06e3e;
margin: 12px auto;
padding:10px 8px;
align-items:left;
}
h2{
text-align:center;
}
h3{
padding:5px 0 0 0;
text-aling:center;
}
/*Стили для демонстрации*/
body{
	
	
	font-family: sans-serif;
	color: #fcf6ef;
	font-size: 25px;
}
.wr{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (min-width:767px){
	.wr{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{
url(img/sl-arrow_l.svg);
}
/* Стрелка вправо */
.slick-arrow.slick-next{
url(img/sl-arrow_l.svg);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}


/* Точки */
.slick-dots{
	border-radius: 50%;
}

.slick-dots li{
	border-radius: 50%;
}

	
}
.slick-dots button{
	border-radius: 50%;

	
}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (min-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 50px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}



